<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bizfly</title>
    {{style('css/bootstrap.min.css')}}
    {{style('vendors/iCheck/css/square/blue.css')}}
</head>
<body>
      <div class="text-center">
        <!-- Button HTML (to Trigger Modal) -->
        <a href="/loginVietId" class="trigger-btn" >Log in with VietID</a>
      </div>
    {{ script('js/app.js') }}
    {{ script('vendors/bootstrapvalidator/js/bootstrapValidator.min.js') }}
    {{ script('vendors/iCheck/js/icheck.js') }}    
</body>
</html>