<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title> Blank | Josh Admin Template</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <!-- global css -->    
    {{style('css/app.css')}}
    <!-- end of global css -->
    <!--page level css -->
    <!--end of page level css-->
</head>

<body class="skin-josh">
    <!-- header -->
    <header class="header">
        @include('admin.layouts.header')
    </header>
    <!-- header -->
    <div class="wrapper row-offcanvas row-offcanvas-left">
        <!-- Left side column. contains the logo and sidebar -->
        
        @!include('admin.layouts.sidebar')
        <!-- right-side -->
        @!section('content')                
        <!-- right-side -->
    </div>
    <a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button" title="Return to top" data-toggle="tooltip" data-placement="left">
        <i class="livicon" data-name="plane-up" data-size="18" data-loop="true" data-c="#fff" data-hc="white"></i>
    </a>
    <!-- global js -->
    
    {{script('js/app.js')}}
    <!-- end of global js -->
    <!-- begining of page level js -->
    <!-- end of page level js -->
</body>

</html>
