<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>My app</title>
    {{ style('style') }}
</head>
<body>
<section>
    <div class="logo"></div>
    <div class="title"></div>
    <div class="subtitle"><p>Hi {{ my_name }} !!!!</p></div>
</section>
</body>
</html>
